import os

from tornado.web import RequestHandler
from tornado.gen import coroutine

from pymicroservice.core.microservice import PyMicroService
from pymicroservice.core.decorators import public_method, private_api_method


# example custom request handler
class IndexHandler(RequestHandler):
    @coroutine
    def get(self):
        raise NotImplementedError()


class %(classname)s(PyMicroService):
    name = "name.your.service"
    host = "127.0.0.1"
    port = 5000

    api_token_header = "X-Api-Token"
    max_parallel_blocking_tasks = os.cpu_count()

    extra_handlers = [
        (r"/app", IndexHandler),
    ]

    # create your templates
    template_dir = "."

    # setup your static files
    static_dirs = [
        (r"/static", "."),
    ]

    def __init__(self):
        self._values = {}
        super(%(classname)s, self).__init__()

    @public_method
    def say_hello(self, name):
        return "hello {}".format(name)

    @private_api_method
    def say_private_hello(self, name):
        """
        Retrieves a value that was previously stored.
        """
        return "Private hello {0}".format(name)

    # Implement your token validation logic
    def api_token_is_valid(self, api_token):
        return True


if __name__ == '__main__':
    service = %(classname)s()
    service.start()
